
body{
  background-image: url("https://lh3.googleusercontent.com/proxy/hQ1BY3I0121NJT58NfBtRoqf_ii2SfOxQL1cz-i2uM6x5xyGWRBXyz5BJC64988HLEK2i5t_EQZPTp7JO9NbvHWc6TRZod8w8RR1vXfL1azUcQszuz9HENEAtby6CAGMK1tMJyJYZ3Dt");
}

#HomePageCategories{
  text-align: center;
  font-size: 50px;
  color: #052939;
}

.advL{
 float: left; 
 border: solid;
 height:2300px;
 padding: 40px;
}

.advR{
  float: right; 
  border: solid;
  height:2300px;
  padding: 40px;
 }


.RowTitle{
  text-align: center;
  font-family: Cursive;
  padding: 10px;
  font-size: 40px;
  }

  
  .MainCollons{
    margin: 3px;
  }

#Logo{
  padding-top: 8px;
  font-size: 30px;
  text-align: center;
  color: black;
}

#Logout{

  font-size: 30px;
  text-align: center;
  color: black;
}

.HeaderElement{
  padding-top: 10px;
  font-size: 26px;
  text-align: center;
  background-color: transparent;
  color:black;
  border: none;
}

a{
  color: inherit;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


.dropdown{
display: flex;
 align-items: left;
 padding: 0px;
 border: none;
}


.MainCollons{
  border-style: outset;
  margin: 0px;

}
.colImageContainer{
  margin: 2px;
  padding-left: 2px;
}

.ImageCategoryDimentions{
margin: 2px;
padding: 2px;
width:386px;
height:340px;
}



.div{
		  font-size: 200px;
	    text-align: center;
      height:50vh;
      line-height: 30vh;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}
