.row{

}
.RowOgniStaff{
  border: solid blueviolet;
  padding: 5px;
  background-color: ghostwhite;
  
}

.RowOgniStaff2{
  border: solid brown;
  padding: 5px;
  background-color: rgb(139, 180, 180);
  
}
#colIntervals{
  border: solid black;
  background-color: red;
  }

  #rowStaff{
    border: solid brown;
  }
#ChoseDate{
  text-align: center;
}
.CategoryViewCenterText{
  text-align: center;
  font-size: 20px;
  padding-right: 60px;
  margin-left: 90px;
  float: right;
}

#DataSelectorDiv{
  font-size: 25px;
  text-align: center;
  padding-left: 360px;
  
}
.buton{
  font-size: 19px;
  margin-left: 0px;
  padding-right: 300px;
}
.col_color{
  background-color: cornflowerblue;
}

#InsertTimeInput{
font-size: 19px;
margin-left: 0px;
padding-left: 170px;
padding-right: 300px;
}

#CinfirmButton{
  font-size: 19px;
  margin-left: -15px;
  padding-right: 44px;
}


.dropdownText{
  text-align: center;
  float: left;
}
.ServicesRows{
border: solid black 2px;
}

.ServiceName{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: -60px ;
}

body{
  background-image: url("https://img.freepik.com/free-vector/creative-abstract-texture-background-vector-illustration_1284-41950.jpg?size=626&ext=jpg");

}
.HeaderRow{
  background-image: url("https://wallpaperaccess.com/full/1429606.jpg");

}

.ShortDescription{
  text-align: center;
  font-size: 20px;
  font: optional;
  font-family:courier,arial,helvetica;
}

#HomePageCategories{
  text-align: center;
  font-size: 50px;
  color: #052939;
}

.advL{
 float: left; 
 border: solid;
 height:2300px;
 padding: 40px;
}

.advR{
  float: right; 
  border: solid;
  height:2300px;
  padding: 40px;
 }


.RowTitle{
  text-align: center;
  font-family: Cursive;
  padding: 10px;
  font-size: 40px;
  }

  
  .MainCollons{
    margin: 3px;
    background-image: url("/EZCUT/Images/3.PNG");
  }

#Logo{
  padding-top: 8px;
  font-size: 30px;
  text-align: center;
  color: black;
}

#Logout{

  font-size: 30px;
  text-align: center;
  color: black;
}

.HeaderElement{
  padding-top: 10px;
  font-size: 26px;
  text-align: center;
  background-color: transparent;
  color:black;
  border: none;
}

a{
  color: inherit;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


.dropdown{
display: flex;
 align-items: left;
 padding: 0px;
 border: none;
}


.MainCollons{
  border-style: outset;
  margin: 0px;
  background-color: cadetblue;

}
.colImageContainer{
  margin: 2px;
  padding-left: 2px;
}

.ImageCategoryDimentions{
margin: 2px;
padding: 2px;
width:386px;
height:340px;

}



.div{
		  font-size: 200px;
	    text-align: center;
      height:50vh;
      line-height: 30vh;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}