.navbar{
  height: 50px;
  width: 100%;
}
#logo{
  width: 20%;
  font-size: 50px;
}

#logout{
  padding-left: 60%;
  font-size: 40px;
  color: DarkCyan;
}

#navbardrop{
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#openingDays{
  text-align: center;
  color: black;
}
.div{
		  font-size: 200px;
	    text-align: center;
      height:50vh;
      line-height: 30vh;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}
